@model A8Forum.ViewModels.EditSprintRunViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sprint Run</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SprintRunId"/>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <select asp-for="MemberId" class="form-control" asp-items="ViewBag.MemberId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TimeString" class="control-label"></label>
                <input asp-for="TimeString" class="form-control"/>
                <span asp-validation-for="TimeString" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PostUrl" class="control-label"></label>
                <input asp-for="PostUrl" class="form-control"/>
                <span asp-validation-for="PostUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MediaLink" class="control-label"></label>
                <input asp-for="MediaLink" class="form-control"/>
                <span asp-validation-for="MediaLink" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RunDate" class="control-label"></label>
                <input asp-for="RunDate" class="form-control"/>
                <span asp-validation-for="RunDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Idate" class="control-label"></label>
                <input asp-for="Idate" class="form-control"/>
                <span asp-validation-for="Idate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Deleted"/> @Html.DisplayNameFor(model => model.Deleted)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="TrackId" class="control-label"></label>
                <select asp-for="TrackId" class="form-control" asp-items="ViewBag.TrackId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <select asp-for="VehicleId" class="form-control" asp-items="ViewBag.VehicleId" id="vehiclesDropdown">
                    <option value=""></option>
                </select>
                <span asp-validation-for="VehicleId" class="text-danger"/>
            </div>
            <div class="form-group mb-4">
            <label asp-for="VipLevel" class="control-label"></label>
            <input asp-for="VipLevel" class="form-control" placeholder="Vip level" />
            <span asp-validation-for="VipLevel" class="text-danger"></span>  

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $("#vehiclesDropdown").select2({ placeholder: "-- Select Vehicle --", allowClear: true });
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}