@model A8Forum.ViewModels.CareerRaceViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Career Race</h4>
    <hr />
  
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CareerRaceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
