@model A8Forum.ViewModels.ToggleLockoutViewModel

@{
    ViewData["Title"] = "Lock Out";
}

@if (Model.IsLockedOut)
{
    <h1>Unlock</h1>
    <h3>Are you sure you want to unlock this user?</h3>
}
else
{
    <h1>Lockout</h1>
<h3>Are you sure you want to lockout this user?</h3>
}



<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            User
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    <form asp-action="ToggleLockout">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="DeleteUser" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
